body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fjord One', serif;
    background: rgb(250, 160, 75);
}

header {
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1001;
}
#overlay {
  display: none;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
h1 {
  font-size: 1.5rem;
}

.language-selector {
  margin-left: auto;
}

.language-selector button {
  background-color: #f8f9fa;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 3px;
  font-size: 1rem;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 10px;
}
.menu-icon .bar {
display: block;
width: 30px;
height: 4px;
margin: 6px 0;
background-color: white;
}

.menu {
  margin: 0; 
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: center;
  background-color: #f8f9fa;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 3px;
  font-size: 1rem;
}

.menu li {
display: inline-block;
}

.menu a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.menu-icon .bar {
display: block;
width: 30px;
height: 4px;
margin: 6px 0;
background-color: white;
}
#close-menu{
  display:none;
}

@media screen and (max-width: 600px) {
  h1 {
      font-size: 1.1rem;
  }

  .menu a {
      font-size: 1.2rem;
  }
  .menu {
    text-align: center;
    display: none;
    width: 175px;
    height: 15vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    padding: 20px;
    flex-direction: column;
    box-shadow: -2px 0 5px hsla(0, 0%, 0%, 0.5);
    z-index: 1001;
  }
  .menu-icon {
    display: block;
  }
  .menu ul{
    margin-top: 50px !important;
  }
  #close-menu {
    display: block;
    font-size: 1.7rem;
    color: white;
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}
.image-slider {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    display: none;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slide.active {
    display: block;
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 2;
}

.controls span {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 15px;
    border-radius: 0%;
    font-size: 15px;
    user-select: none;
}

.controls span:hover {
    background: rgba(0, 0, 0, 0.6);
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  position: relative;
  text-align: center;
}

.popup img {
  max-width: 90%;
  max-height: 80%;
  transition: transform 0.3s ease;
}

.popup-close {
  position: absolute;
  top: 40px;
  right: 10px;
  background: none;
  border: none;
  font-size: 50px;
  color: white;
  cursor: pointer;
}

.main-title {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background: linear-gradient(90deg, #f8b400, #f76c6c);
    color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.main-title .title-english {
    font-size: 2.5em;
    font-weight: bold;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.main-title .title-telugu {
    font-size: 2.5em;
    font-weight: normal;
    margin: 10px 0;
    font-family: 'Noto Sans Telugu', sans-serif;
    text-transform: none;
}

@media (max-width: 768px) {
    .main-title .title-english {
        font-size: 1.3em;
    }
    .main-title .title-telugu {
        font-size: 1.8em;
    }
    .popup-close{
      top: -80px;
    }
    .controls span {
      background: rgba(0, 0, 0, 0.2);
    }
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  margin-bottom: 8px;
}

strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  display: inline-block;
}

.worship-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.worship:hover{
  background-color:#9bcdff;
}
.worship {
  background-color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 48%;
  box-sizing: border-box;
}

.worship img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: 10px;
}
.timeinfo{
  text-align: center;
  background-color: #f0f8ff;
}

@media (max-width: 768px) {
  .worship {
    width: 100%; 
    margin: 10px 0;
  }

  .worship h3 {
    font-size: 1rem;
  }

  .worship p {
    font-size: 0.9rem;
  }
}
.page-title{
  margin-top: 0%;
  text-align: center;
  color: black;
  padding: 0%;
}

.kids-block {
    background-color: #fdf6e3;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    max-width: 1300px;
  }
  
  .kids-block h2 {
    font-size: 1.5em;
    color: black;
    margin-bottom: 10px;
  }
  
  .kids-block p {
    font-size: 1.2em;
    color: black;
    margin-bottom: 15px;
  }
  
  .activities {
    display: flex;
    justify-content: space-around;
    gap: 20px; 
  }
  
  .activity {
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 45%; 
    text-align: center;
  }
  .activity:hover{
    background-color: 	#9bcdff;
  }
  .activity h3 {
    font-size: 1.4em;
    color: black;
  }
  
  .activity p {
    font-size: 1.1em;
    color: black;
  }

  
  
  @media (max-width: 768px) {
    .activities {
      flex-direction: column;
      gap: 15px;
    }
  
    .activity {
      width: 90%; 
    }
  }

.other-programs {
    background-color: #f0f8ff;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin: 10px auto;
    max-width: 1300px;
    position: center;
  }
  .program:hover{
    background-color: #9bcdff;
  }
  .other-programs h2 {
    font-size: 1.5em;
    color: black;
    margin-bottom: 10px;
  }
  
  .programs-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px; 
  }
  
  .program {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .program h3 {
    font-size: 1em;
    color: black;
    margin-bottom: 10px;
  }
  
  .program p {
    font-size: 1em;
    color: black;
  }
 
  @media (max-width: 768px) {
    .programs-list {
      grid-template-columns: 1fr;
    }
    .elders-image img {
        width: 100% !important;
      }

  }
  .elders-image{
    background-color: #fdf6e3;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin: 10px auto;
    max-width: 1300px;
    position: center;

  }
  .elders-image img {
    width: 80%;
  }

  .leader-block{
    background-color: #fdf6e3;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    max-width: 1300px;
  }

.connect-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 8px;
    margin: 20px auto;
    margin-bottom: 0%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .connect-block {
    flex: 1 1 calc(33.33% - 20px); 
    max-width: 350px; 
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  .connect-block:hover{
    background-color: 	#9bcdff;
  }
  .connect-block h2 {
    font-size: 1.2em;
    color: black;
    margin-bottom: 20px;
  }
  
  .connect-block iframe {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    border: none;
  }
  
  .connect-block p {
    font-size: 1em;
    color: black;
  }
  
  .connect-block a {
    color: black;
    text-decoration: none;
  }
  
  .connect-block a:hover {
    text-decoration: underline;
  }
 
  @media (max-width: 768px) {
    .connect-block {
      flex: 1 1 100%;
      max-width: 100%;
    }
  
    .connect-us {
      gap: 15px;
    }
  }
  
  .location-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-top h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 15px;
  }
  
  .social-link img {
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease;
    border-radius: 20px;
  }
  
  .social-link:hover img {
    transform: scale(1.2);
  }
  
  .footer-address,
  .footer-message {
    font-size: 14px;
    margin-top: 10px;
  }
  @media (max-width: 768px) {
    .social-links {
      flex-wrap: wrap;
      gap: 30px;
    }
  
    .footer-top h3 {
      font-size: 20px;
    }
  
    .footer-address,
    .footer-message {
      font-size: 18px;
    }
  }
  
  .progress-wrap {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .progress-wrap::after {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f062';
    text-align: center;
    line-height: 46px;
    font-size: 18px;
    color: black;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .lightScrollIcon::after {
    color: #ecedf3 !important;
  }
  
  .progress-wrap:hover::after {
    opacity: 0;
  }
  
  .progress-wrap::before {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f062';
    text-align: center;
    line-height: 46px;
    font-size: 18px;
    opacity: 0;
    background-image:white;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .progress-wrap:hover::before {
    opacity: 1;
  }
  
  .progress-wrap svg path {
    fill: none;
  }
  
  .progress-wrap svg.progress-circle path {
    stroke: #007bff;
    stroke-width: 5;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .faq-container {
    max-width: 700px;
    margin: auto;
}
.faq-item {
    background: white;
    margin: 15px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}
.faq-item:hover {
    background: 	#ccf5f5;
}
.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.faq-icon {
    font-size: 28px;
    font-weight: bold;
    color: #007bff;
    transition: transform 0.3s ease-in-out;
}
.faq-answer {
    display:none;
    padding-top: 12px;
    font-size: 15px;
    color: black;
    line-height: 1.5;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 10px;
    animation: fadeIn 0.3s ease-in-out;
    text-align:justify;
}
.active .faq-answer {
    display: block;
}
.active .faq-icon {
    transform: rotate(180deg);
    color: red; /* Change color when active */
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

